
    <app-progress-bar
      *ngIf="isLoading$ | async"
      class="app-progress-bar"
    ></app-progress-bar>
    <header class="app-header">
      <a routerLink="/">
        <img
          *ngLayout="SCREEN_SIZES['small']"
          class="app-logo"
          src="assets/Logos/aTrendsPRO.svg"
          alt="Logo Avantio Trends PRO"
        />
      </a>
      <div class="app-current-date">
        <span>{{ currentDate | date: 'dd MMMM yyyy' }}</span>
      </div>
    </header>
    <nav class="app-navigation">
      <app-menu-small *ngLayout="SCREEN_SIZES['small']"></app-menu-small>
      <app-menu-medium *ngLayout="SCREEN_SIZES['medium']"></app-menu-medium>
      <app-menu-large *ngLayout="SCREEN_SIZES['large']"></app-menu-large>
    </nav>
    <main class="app-main-content">
      <app-notification-container></app-notification-container>
      <router-outlet></router-outlet>
      <app-sidebar>
        <app-detail-form></app-detail-form>
      </app-sidebar>
    </main>



