.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.sidebar {
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;
  width: 600px;
  height: 100%;
  background-color: #FFF;
  border-top-left-radius: 2rem;
  color: #000;
  overflow-x: hidden;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  &.open {
    transform: translateX(0);
  }
  .content {
    padding: 2em;
  }
}
